.input-group-container {
    display: flex;
    flex-direction: column;
    
}

.input-group {
    display: flex;
    align-content: stretch;
    margin-top: 5px;
}

.input-group input {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #55555555;
    outline: #55555511;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 8px;
    text-align: center;
}
.input-group-addon {
    position: relative;
    left: -1px;
    background: #55555511;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #55555533;
    font-size: small;
    padding: 6px 8px;
}