// =================================
// FOR EDUCATION MODAL STYLE
// =================================
.add-educ-modal-container{
    @include containerFlexRow(false);
    .first-type-div{
        margin-bottom: 10px;
    }
    .second-type-div{
        @include containerFlexRow(true);
        margin-bottom: 10px;
        .from, .yearend{
            width: 50%;
            margin-right: 5px;
        }
        .to, .highest{
            width: 50%;
            margin-left: 5px;
        }
    }
}

// =================================
// FOR CIVILSERVICE MODAL STYLE
// =================================
.add-csc-modal-container{
    @include containerFlexRow(false);
    .first-type-div{
        margin-bottom: 10px;
    }

    .second-type-div{
        @include containerFlexRow(true);
        align-items: center;
        margin-bottom: 10px;

        .rating{
            margin-right: 5px;
        }
        .examination-date{
            margin-left: 5px;
        }
        .license-number{
            margin-right: 5px;
            width: 60%;
        }
        .validity{
            margin-left: 5px;
            width: 40%;
        }
    }
}

// =================================
// FOR WORK EXPERIENCE MODAL STYLE
// =================================
.add-workexp-modal-container{
    @include containerFlexRow(false);
    .first-type-div{
        margin-bottom: 10px;
    }
    .second-type-div{
        @include containerFlexRow(true);
        margin-bottom: 10px;
        div{
            width: 50%;
            
        }
        .status{
            margin: 0px 5px 0px 0px;
        }
        .service{
            margin: 0px 0px 0px 5px;
        }
    }
    .third-type-div{
        @include containerFlexRow(true);
        align-items: flex-end;
        margin-bottom: 10px;
        .salary {
            width: 50%;
            margin: 0px 5px 0px 0px;
        }
        .grade, .increment{
            width: 25%;
            margin: 0px 5px 0px 5px;
        } .increment{
            margin: 0px 0px 0px 5px;
        }
        
    }
}

// =================================
// FOR VOLUNTARY WORK MODAL STYLE
// =================================
.add-volwork-modal-container{
    @include containerFlexRow(false);
    .first-type-div{
        margin-bottom: 10px;
    }
    .second-type-div{
        @include containerFlexRow(true);
        margin-bottom: 10px;
        .from, .position{
            width: 50%;
            margin-right: 5px;
        }
        .to, .hours{
            width: 50%;
            margin-left: 5px;
        }
    }
}

// =================================
// FOR VOLUNTARY WORK MODAL STYLE
// =================================
.add-intervention-modal-container{

    @include containerFlexRow(false);
    .first-type-div{
        margin-bottom: 10px;
    }
    .second-type-div{
        @include containerFlexRow(true);
        margin-bottom: 10px;
        .from, .type{
            width: 50%;
            margin-right: 5px;
        }
        .to, .hours{
            width: 50%;
            margin-left: 5px;
        }
    }
}

@media only screen and (max-width: 800px){

    .add-educ-modal-container{
        .second-type-div{
            @include containerFlexRow(false);
            margin: 0;
            .from, .to, .yearend, .highest{
                width: 100%;
                margin: 0px 0px 10px 0px;
            }
        }
    }

    .add-csc-modal-container{
        .second-type-div{
            @include containerFlexRow(false);
            .rating, .examination-date, .license-number, .validity{

                margin: 0px 0px 10px 0px;
                width: 100%;
            }.examination-date{
                margin: 0px;
            }
        }
    }

    .add-workexp-modal-container{
        margin: 0px 0px 0px 0px;
        .second-type-div{
            @include containerFlexRow(false);
            margin: 0px 0px 0px 0px;
            .status, .service{
                width: 100%;
                margin: 0px 0px 10px 0px;
            }
        }
        .third-type-div{
            @include containerFlexRow(false);
            .salary, .grade, .increment{
                width: 100%;
                margin: 0px 0px 10px 5px;
            } 
        }
    }

    .add-volwork-modal-container{
        .second-type-div{
            @include containerFlexRow(false);
            margin: 0;
            .from, .to, .position, .hours{
                width: 100%;
                margin: 0px 0px 10px 0px;

            }
        }
    }

    .add-intervention-modal-container{
        .second-type-div{
            @include containerFlexRow(false);
            margin: 0;
            .from, .to, .type, .hours{
                width: 100%;
                margin: 0px 0px 10px 0px;
            }
        }
    }


}