
.plantilla-view{
    padding: 0px 0px 30px 0px;
    overflow-y: scroll;
}
.tab-button{
    padding: 20px 20px;
}
/* TABS STARTS HERE  */
.tab-tap{
    background-color: whitesmoke;
    color: rgba(70, 70, 70, 0.6);
    border: none;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid transparent;
}

.tab-tap:hover{
    float: inline-end;
    transition: .3s;
    color: #1DA1F2;
    border-bottom: 3px solid #1DA1F2; 
    z-index: 1;
}

.tab-tap-activate{
    float: inline-end;
    transition: .3s;
    color: #1DA1F2;
    border-bottom: 3px solid #1DA1F2; 
    z-index: 1;
}

hr.solid {
    top: -2px;
    position: relative;
    border-top: 1px solid #bbbbbb77;
    z-index: 0;
}

.tab-badge-add-style{
    position: relative;
    top: -6px;
    left: 3px;
}


/* SELECTOR STARTS HERE  */

.selector-buttons{
    padding: 5px 30px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
   
}

.selector-container{
    display: flex;
    align-items: center;
}

.selector-span-1 button{
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background: #4276A4;
    border: none;
    border-radius: 5px;
    padding: 6px 18px 6px 10px;
}

.selector-span-1 button:hover{
    transition: .3s;
    background: #4276A4BB;
}

.selector-span-1 button span{
    margin-left: 5px;
}

.selector-span-1 select{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-weight: 600;
    width:13vw;
    font-size: 14px;
    color: #4276A4;
    background-color: whitesmoke;
    border: 2px solid #4276A4;
    border-radius: 5px;
    padding: 4px 20px 5px 6px;
    outline: #4276A4;

    /* replace */
    /* appearance: unset; */
    
}

.selector-span-1 select:hover{
    transition: .3s;
    background-color: rgba(235, 235, 235, 0.582);
}

.selector-span-1 select .options{
    background-color: whitesmoke;
    color: rgba(70, 70, 70, 0.9);  
}

.selector-search-label{
    color: rgba(70, 70, 70, 0.8);
    font-size: 14px;
}

/* TABLE DESIGN STARTS HERE  */
.plantilla-table{
    padding: 10px 20px;
}

.fixed-label-table{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

#customers {
    border-collapse: collapse;
    width: 100%;
}
  
  #customers td, #customers th {
    text-align: start;
    border: 1px solid #ddd;
    padding: 8px;
    color: rgba(70, 70, 70, 0.8);
  }
  #customers th {
    font-size: 14px;
    color: #4276A4;
  }

  #customers th button{
    display: inline-flex;
    align-items: center;
    color: #4276A4;
    background-color: transparent;
    border: none;
    padding: 2px;
  }

  #customers th button:hover{
    transition: .3s;
    color: #1DA1F2;
  }

  #customers .trClass:hover, .column-option button:hover{
    background-color: #ddd;  
  }

  .column-option{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

.column-option button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0px;
    background-color: transparent;
}


.column-option button:hover{
    color: #1DA1F2;
}

.scrollable-div-table{
    border: 1px solid rgba(122, 122, 122, 0.1);
    scroll-behavior: smooth;
    max-height: 60vh;
    overflow-y: scroll;
}

.data-entry{
    font-size: 12px;
    margin-top: 10px;
    color: rgba(54, 58, 63, 0.6);

}

/* SCROLL DEFAULT VALUE PROPERTY */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4276A4;;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4276A4;;
  }


  /* SECOND TAD DISPLAY STARTS HERE  */

.show-none{
    display: none;
    align-items: center;
}

.current-tab{
    display: block;    
}

.non-regular{
    margin: 20px;
}