.ul-dropdown-container {
  position: absolute;
  width: max-content;
  background-color: white;
  padding: 4px 0px;
  top: 30px;
  box-shadow: 0 0px 20px #00000011;
  text-decoration: none;
  z-index: 1;
}

.ul-menu-item {
  padding: 7px 20px;
  cursor: pointer;
}
.ul-menu-item:hover {
  background-color: rgba(0, 110, 255, 0.1);
}

.ul-menu-item-arrow {
  margin: 0;
  position: absolute;
  top: -11px;
  right: 4px;
  color: white;
}

.link-class {
  color: black;
  text-decoration: none;
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}

.button-icon {
  color: #4276a4;
}

.button-icon:hover {
  @include zoomInEffect();
}

/// New Version

.droplist-style {
  position: absolute;
  right: 0;
  background-color: white;
  width: 200px;
  padding: 2px 0px;
  z-index: $sidebarIndex;
  .arrow-style {
    position: absolute;
    top: -10px;
    right: 1px;
    color: white;
  }
  li {
    padding: 7px 20px;
    cursor: pointer;
    user-select: none;
  }

  li:hover {
    background-color: rgba(0, 110, 255, 0.1);
  }
}
