.position-modal-container-1 {
  margin: 10px 0px 0px 0px;
}

.position-modal-container-2 {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.position-modal-container-3 {
  margin: 3px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

// .add-level-keyword-button {
//   color: green;
// }

// @import './page_components/pds_profiles_pc/pds_profile';
// @import './page_components/pds_profiles_pc/parts/add_modals/modal_add';
