.fail-response{
    bottom: 35px;
    right: 15px;
    position: fixed;
    z-index: 100000000000;
    width: 250px;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgb(233, 61, 61);
    .title-fail-response{
        @include containerFlexRow(true);
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5px;

        span:hover{
            transition: .2s;
            color: rgb(77, 77, 77);
            padding: 0px;
        }
    }
    .children-fail-response{
        font-size: 14px;
    }
}