.documents-view {
  display: flex;
  flex-direction: column;
  .three-idiot {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
  }
  min-height: 95vh;
}
.upload-input-design {
  cursor: pointer;
}
.upload-input-design label {
  cursor: pointer;
}
.rowgroup {
  overflow-y: auto;
}
.main-header {
  position: sticky;
  top: 0px;
}

.main-header th {
  background-color: whitesmoke;
  border: 1px solid rgba(70, 70, 70, 0.2);
  background-clip: padding-box;
}
.add-documents-modal {
  display: flex;
  margin-bottom: 10px;
  .left-input {
    margin-right: 5px;
  }
  .middle-input {
    margin-right: 5px;
    margin-left: 5px;
  }
  .right-input {
    margin-left: 5px;
  }

  .item-modal-1 {
    width: 100%;
  }
  .item-modal-2 {
    width: 90%;
  }
  .item-modal-3 {
    width: 10%;
  }
  .item-modal-4 {
    width: 30%;
    .input-component {
      margin: 5px 0px;
    }
  }
  .item-modal-5 {
    width: 70%;
  }
}

.email_icon {
  width: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
  justify-content: center;
  .save {
    color: #40d940;
  }
  .delete {
    color: #ff2b2b;
  }
}

@media only screen and (max-width: 800px) {
  .filter_buttons {
    min-width: 125px;
    width: 30%;
  }
  .selector-search-label {
    display: none;
  }

  .search-container {
    display: block;
    margin-top: 20px;
    width: 100% !important;
  }
}
