.posting-job-vacancy-main {
	.posting-job-vacancy {
		display: flex;
		justify-content: flex-end;
		font-weight: bold;
		color: #4276a4;
		font-size: 1.2em;
		padding-top: 10px;
	}

	.posting-job-vacancy-anchor {
		text-decoration: none;
		color: #74caf3;
	}

	.posting-job-vacancy-anchor:hover {
		text-decoration: underline;
		@include zoomInEffect();
	}

	.on-last-page {
		color: gray;
	}

	.on-last-page {
		color: gray;
	}

	.posting-job-vacancy-deadline {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 30%;
	}

	.margin-left {
		margin-left: 10px;
	}

	.tox-statusbar__branding {
		display: none;
	}
}
