//MAIN COLORS
// $login-color: #004e87;
$navbar-color: #408fd6;
// #004e87
$primaryColor: (
  regular: rgba(0, 78, 135, 1),
  800: rgba(0, 78, 135, 0.8),
  600: rgba(0, 78, 135, 0.6),
  400: rgba(0, 78, 135, 0.4),
  200: rgba(0, 78, 135, 0.2),
);

$blackColor: (
  regular: rgba(70, 70, 70, 1),
  800: rgba(70, 70, 70, 0.8),
  600: rgba(70, 70, 70, 0.6),
  400: rgba(70, 70, 70, 0.4),
  200: rgba(70, 70, 70, 0.2),
  100: rgba(70, 70, 70, 0.1),
);

$redColor: (
  hover: rgb(173, 29, 29),
  regular: rgba(204, 64, 64, 1),
  800: rgba(204, 64, 64, 0.8),
  600: rgba(204, 64, 64, 0.6),
  400: rgba(204, 64, 64, 0.4),
  200: rgba(204, 64, 64, 0.2),
  100: rgba(204, 64, 64, 0.1),
);

//BACKGROUND COLORS

//TEXTS COLORS
//$fontMainColor: red;
$plantillaTabColor: rgba(29, 161, 242, 1);
$fontSecondaryColor: rgba(70, 70, 70, 0.8);
$errorColor: rgb(204, 64, 64);
