    $colorTheme: (
        primary: #4276A4,
        secondary: rgba(0, 0, 0, 0.5),
        background: whitesmoke,
        fonts: rgba(70, 70, 70, 0.8),
    );

    
    .modal-component-div{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        background-color: map-get($colorTheme, secondary);
        overflow-y: scroll;
        scroll-behavior: smooth;

        form{
            transition: .3s;
            padding: 10px 0px;
            border-radius: 5px;
            max-width: 50rem;
            margin: 50px auto 20px auto;
            background-color: map-get($colorTheme, background);

            .mcf-header{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding: 10px 20px 15px 20px;

                button:hover{
                    transition: .5s;
                    color: rgb(241, 68, 68);
                }
            }

            .mcf-body{
                font-size: small;
                color: map-get($colorTheme, fonts);
                padding: 20px 20px;
            }

            .mcf-footer{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 15px 20px 5px 20px;

                .ft-button{
                    color: map-get($colorTheme, fonts);
                }

                .ft-button:hover{
                    background-color: rgb(196, 196, 196) !important;
                }
            }
        }
    }
