.pds-profile-main-view{
    padding: 20px;
    overflow-y: scroll;
}

.pds-prof-class-one{
    font-size: small !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.pds-prof-class-one label{
    color: rgba(54, 58, 63, 0.8);
}

.pds-profile-button-selection{
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    align-items: center;
}

.hover-over-button:hover{
    transition: .3s;
    background-color: rgb(206, 206, 206) !important;
}

.pds-prof-class-two{
    font-size: small !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-end;
}