/*  | NEW COMPONENT STYLE
    | By: Terrence Calzada
    | MARCH 23, 2021
*/
.sidebar-component-style-second {
  width: 250px;
}
.sidebar-component-style {
  position: fixed;
  width: 250px;
  height: 100%;
  background: map-get($primaryColor, regular);
  color: whitesmoke;
  font-size: 14px;
  z-index: 100;

  .sidebar-menu-items {
    user-select: none;
    margin: 20px 0px;
    .list-of-items {
      .items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 8px 10px;
        color: white;
        cursor: pointer;
        transition: 0.2s;
        div {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
        }
      }
      .items:hover {
        background-color: $navbar-color;
        color: white;
      }

      .sub-item {
        color: white;
        padding: 8px 10px;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        transition: 0.5s;
      }
      .sub-item:hover {
        background-color: map-get($blackColor, 600);
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .sidebar-component-style-second {
    width: 0px;
  }
}

.rotateArrow-enter {
  transform: rotate(-180deg);
  transition: transform 300ms;
}
.rotateArrow-enter-active {
  transform: rotate(0deg);
  transition: transform 300ms;
}
.rotateArrow-exit {
  transform: rotate(180deg);
}
.rotateArrow-exit-active {
  transform: rotate(0deg);
  transition: transform 300ms;
}
