.ul-dropdown-container {
	// position: absolute;
	// width: max-content;
	// background-color: white;
	// padding: 4px 0px;
	// top: 17px;
	// box-shadow: 0 0px 20px #00000011;
	// text-decoration: none;
	// z-index: 1;
	// border-radius: 2px;
	position: absolute;
	width: max-content;
	background-color: white;
	padding: 0px 0px;
	top: 30px;
	box-sizing: border-box;
	box-shadow: 0 0px 20px #00000011;
	text-decoration: none;
	z-index: 2;
	max-height: 200px;
	border-radius: 1%;
}

.ul-menu-item {
	padding: 7px 20px;
	cursor: pointer;
}
.ul-menu-item:hover {
	background-color: rgb(212, 230, 254);
}

.ul-menu-item-arrow {
	margin: 0;
	position: absolute;
	top: -11px;
	right: 4px;
	color: white;
}

.link-class {
	color: black;
	text-decoration: none;
}

.unstyled-button {
	border: none;
	padding: 0;
	background: none;
}

.button-icon {
	color: map-get($primaryColor, regular);
}

.button-icon:hover {
	@include zoomInEffect();
}
