.button-components{
    padding: 5px 12px 5px 12px;
    border: none;
    color: white;
    background: #4276A4;
    border-radius: 5px;
    border: 1px solid #4276A4;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: center;
}
.button-components:hover{
    transition: .3s;
    background: #4276A4BB;
    border: 1px 0px 0px 0px solid #4276A4BB;
}

.bc-logo-component{
    display: flex;
    align-items: center;
    text-align: center;
}
