.button-components {
  padding: 7px 15px 7px 15px;
  border: none;
  color: white;
  background: map-get($primaryColor, regular);
  border-radius: 5px;
  border: 1px solid map-get($primaryColor, regular);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  text-align: end;
  align-items: center;
}
.button-components:hover {
  transition: 0.3s;
  background-color: #033e72;
}

.bc-logo-component {
  display: flex;
  align-items: center;
  text-align: center;
}

.button-components:active {
  transform: translateY(2px);
}
