//DEFAULTS
@import "./defaults/default_colors";
// @use "../../../../../helpers/sass/defaults/_default_colors.scss" as *;
@import "./defaults/default_mixins";
@import "./defaults/default_themes";
@import "./defaults/default_plantilla";
@import "./defaults/default_scrollbar";
@import "./defaults/default_table";
@import "./defaults/default_percent";
@import "./defaults/animate.min";
@import "./defaults/default_z_index";
@import "./defaults/css_transition";
@import "./defaults/default_calendar";
@import "./defaults/default_common.utils";

* {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.app {
	position: relative;
	display: flex;
	flex-flow: column;
	width: 100%;
}

body {
	background-color: whitesmoke;
	/* overflow: hidden; */
}

.main-body {
	position: relative;
	overflow-x: hidden;
}

/* Margins Starts Here */
/* ++++++++++++LEVEL 1+++++++++++++ */
.margin-left-1 {
	margin-left: 1vw;
}
.margin-right-1 {
	margin-right: 1vw;
}
.margin-top-1 {
	margin-top: 1vw;
}
.margin-bottom-1 {
	margin-bottom: 1vw;
}
/* ++++++++++++LEVEL 2+++++++++++++ */
.margin-left-2 {
	margin-left: 2vw;
}
.margin-right-2 {
	margin-right: 2vw;
}
.margin-top-2 {
	margin-top: 2vw;
}
.margin-bottom-2 {
	margin-bottom: 2vw;
}

/* Margins Ends Here */
.padding-1 {
	padding: 5px;
}
.padding-left-1 {
	padding-left: 5px;
}
.padding-right-1 {
	padding-right: 5px;
}
.padding-top-2 {
	padding-top: 1px;
}
.padding-bottom-2 {
	padding-bottom: 1px;
}

/* CONTAINER SIDEBAR AND CONTENT DESIGN CONFIG */
.container {
	display: flex;
	flex-flow: row;
	position: relative;
	width: 100%;
}
.positioning {
	padding-left: 250px;
	width: 100%;
	/* position: relative; */
}

.error-validation-styles {
	color: rgb(255, 68, 68);
}

.flex-row {
	@include containerFlexRow(true);
}
.flex-col {
	@include containerFlexRow(false);
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.items-align-center {
	align-items: center;
}

.items-align-start {
	align-items: flex-start;
}

@media only screen and (max-width: 800px) {
	.positioning {
		padding-left: 0;
	}
}

//COMPONENTS
@import "./../../views/common/import_component_style";

//PAGES
@import "./../../views/library/office_page/officeLibrary";
@import "./../../views/pds_form/pds_profile";
@import "./../../views/rsp_module/plantilla/page_component/jvs_crw_pc/jvs_crw";
@import "./../../views/rsp_module/plantilla/plantilla_view";
@import "./../../views/rsp_module/dashboard/dashboard_view";
@import "./../../views/rsp_module/recruitment/recruitment_view";
@import "./../../views/rsp_module/plantilla/page_component/plantilla_vacant_pc/plantilla_vacant_pc";
@import "./../../views/authentication/login_view";
@import "./../../views//library/history_service.js/history_service";
@import "./../../views/pds_form/backgorund_check/backgournd_check_style";
@import "./../../views/common/get_started_navbar/get_started_navbar";
@import "./../../views/rsp_module/recruitment/join_page/join_page";
@import "./../../views/rsp_module/recruitment/contactus_page/contactus_page";

.btn-primary {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: map-get($primaryColor, regular);
	font-size: 14px;
	font-weight: bold;
	padding: 4px 10px;
	color: white;
	gap: 3;
	border-radius: 5px;
}

.btn-primary:hover {
	transition: 0.3s;
	background-color: #033e72;
}

.btn-primary:active {
	transform: translate(2px);
}
.pointer {
	cursor: pointer;
}
// .selector-span-1 button{
//     display: inline-flex;
//     align-items: center;
//     font-weight: 600;
//     font-size: 14px;
//     color: white;
//     background: #4276A4;
//     border: none;
//     border-radius: 5px;
//     padding: 6px 18px 6px 10px;
// }

// .selector-span-1 button:hover{
//     transition: .3s;
//     background: #4276A4BB;
// }
