.add-plantilla-item-modal {
  display: flex;
  margin-bottom: 10px;
  .left-input {
    margin-right: 5px;
  }
  .middle-input {
    margin-right: 5px;
    margin-left: 5px;
  }
  .right-input {
    margin-left: 5px;
  }

  .item-modal-1 {
    width: 65%;
  }
  .item-modal-2 {
    width: 35%;
  }
  .item-modal-3 {
    width: 30%;
  }
  .item-modal-4 {
    width: 40%;
  }
  .item-modal-5 {
    width: 100%;
  }
}

.next-rank-modal-container {
  .nrm-header {
    font-weight: 600;
    color: #4880b3;
    @include containerFlexRow(true);

    .check-box-alignment {
      @include containerFlexRow(true);
      align-items: center;

      span {
        @include containerFlexRow(true);
        align-items: center;
        justify-content: center;
      }
    }
    .container-1 {
      width: 40%;
    }
    .container-2 {
      width: 40%;
    }
    .container-3 {
      width: 20%;
    }
  }

  .nrm-body {
    font-weight: 400;
    @include containerFlexRow(true);
    .check-box-alignment {
      @include containerFlexRow(true);
      align-items: center;

      span {
        @include containerFlexRow(true);
        align-items: center;
        justify-content: center;
      }
    }
    .container-1 {
      width: 40%;
    }
    .container-2 {
      width: 40%;
    }
    .container-3 {
      width: 20%;
    }
  }

  .bold-selected {
    font-weight: 600;
  }
  .next-rank-table {
    width: 100%;
    th {
      color: map-get($primaryColor, regular);
      padding: 10px 0px;
      border-bottom: 1px solid map-get($blackColor, 400);
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .span-icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .span-icon:active {
          transform: translateY(1px);
        }
      }
    }
    td {
      padding: 3px 0px;
    }
  }
}

.container-vacant-position {
  margin: 10px 20px;
  .button-vacant {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -20px;
  }
  .regular-tab-component {
    width: 100%;
    .reg-tab-container {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 12px;
      .reg-tab {
        font-size: 15px;
        font-weight: 600;

        border: none;
        padding-bottom: 8px;
        background-color: whitesmoke;
        color: map-get($blackColor, 600);
        border-bottom: 3px solid transparent;
      }
      .reg-tab:hover {
        float: inline-end;
        transition: 0.3s;
        color: $plantillaTabColor;
        border-bottom: 3px solid $plantillaTabColor;
        z-index: 1;
      }

      .reg-tab-activate {
        font-size: 15px;
        font-weight: 600;
        border: none;
        padding-bottom: 8px;
        background-color: whitesmoke;
        color: $plantillaTabColor;
        border-bottom: 3px solid $plantillaTabColor;
        z-index: 1;
      }
    }
  }
}

.square-notification {
  padding: 1px 5px;
  border-radius: 2px;
  background-color: white;
  color: #063158;
}

.email-modal-plantilla {
  background-color: white;
  border: 1px solid map-get($blackColor, 200);
  border-radius: 5px;
  color: black;
}

.email-modal-plantilla:focus-within {
  border: 1px solid map-get($blackColor, 400);
}

.editor-class {
  background-color: white;
  padding: 0px 7px;
}

@media only screen and (max-width: 800px) {
  .add-plantilla-item-modal {
    flex-direction: column;
    .left-input,
    .middle-input,
    .right-input {
      margin: 0;
    }
    .item-modal-1,
    .item-modal-2,
    .item-modal-3,
    .item-modal-4,
    .item-modal-5 {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.flex-selectagency-display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;

  .div-labal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;
    p {
      margin-top: -2px;
      margin-left: 3px;
    }
    input[type="text"] {
      margin-top: -2px;
      margin-left: 3px;
    }
  }
}

.notify-button-color {
  background-color: green;
  border: 1px solid green;
}

.notify-button-color:hover {
  background-color: rgb(3, 97, 3);
}

.delete-button-color {
  color: white !important;
  background-color: $errorColor !important;
  border: 1px solid $errorColor !important;
}

.delete-button-color:hover {
  background-color: rgb(185, 22, 22) !important;
}

@import "../plantilla/page_component/posting_job_vacancy_modal/_posting_job_vacancy_modal";
.btn-primary {
  background-color: map-get($primaryColor, regular);
  border: 1px solid map-get($primaryColor, regular);
}

@import "./page_component/employee_pds/employee_pds";
